# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
.bash_history
.python_history
.DS_Store

mnist/
lang/
.ipynb_checkpoints
log_dir/
mecab-ipadic-neologd/
newstext/
text/